<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

  <h1 class="h2">User Detail</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <button [routerLink]="['/users']" [queryParams]="{page:p}" type="button" class="btn btn-sm btn-outline-secondary">Back</button>
    </div>
  </div>
</div>


<div class="row" *ngIf="apiLoaded">
  <div class="col-md-12 mx-auto">
    <div class="container p-2 mb-1">
      <b>Name</b>
      <p>{{ user.name }}</p>
    </div>
    <div class="container p-2 mb-1">
      <b>Email</b>
      <p>{{ user.email }}</p>
    </div>
    <!-- <div class="container p-2 mb-1">
      <b>Status</b>
      <p><span  class="badge {{ user.isActive ? 'badge-success' : 'badge-danger'}}">{{ user.isActive ? 'Active' : 'Inactive'}}</span></p>
    </div>
    <div class="container p-2 mb-1">
      <b>User type</b>
      <p><span  class="badge {{ user.isAdmin ? 'badge-success' : 'badge-info'}}">{{ user.isAdmin ? 'Admin' : 'User'}}</span></p>
    </div> -->
  </div>
</div>
