.nav-item  a{
  color: black;
  font-weight: bold;
  letter-spacing: 1px;
  font-size : 1.1rem;
}

.nav-item.active , .nav-link.active{
  background: #666 !important;
  color : white !important;
}

.nav-item:hover{
  a{
    background: #999;
    color : white !important;
  }
}

.tab-content{
  border:solid 1px #dee2e6;
  border-top : none;
  padding:10px;
}

#productName {
  font-size: 1.5em;
}

.center {
  margin-left: auto;
  margin-right: auto;
}


.responsive-input {
  @media screen and (min-width:1200px) {
    font-size : 11px !important;
  }
}

select.responsive-input {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  @media screen and (min-width:1200px) {
    padding-left : 1px;
    padding-right : 2px; 
  }
}
