<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Batch Products</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <button [routerLink]="['/products/batch/preview/' + batchNumber]" *ngIf="model.isApproved" type="button"
        class="btn btn-sm btn-outline-secondary">Preview</button>
      <button [routerLink]="['/products','batch','log', batchNumber]" type="button"
        class="btn btn-sm btn-outline-secondary">See Logs
      </button>
      <button [routerLink]="['/products']" [queryParams]="{page:p}" type="button"
        class="btn btn-sm btn-outline-secondary">Back
      </button>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <div class="card" style="min-width:fit-content">
      <div class="card-header">
        Batch Number : #{{ batchNumber | uppercase }}
        <span class="float-right">
          Uploaded At : {{ model.uploadedAt | date:'medium' }}
        </span>
      </div>
      <div class="card-body" style="min-width: fit-content">
        <div
          class="row align-items-center bg-dark d-xs-none d-none d-sm-none d-md-none d-lg-none d-xl-flex text-white border rounded mb-1">
          <div class="col-xl-1 text-center"></div>
          <div class="text-center" [ngClass]="{'col-xl-4': model.isApproved,'col-xl-2': !model.isApproved}">Product
            Name
          </div>
          <div class="text-center" [ngClass]="{'col-xl-4': model.isApproved,'col-xl-3': !model.isApproved}">Category
          </div>
          <div class="text-center" [ngClass]="{'col-xl-3': model.isApproved,'col-xl-2': !model.isApproved}">Status</div>
          <div class="col-xl-4 text-center" *ngIf="!model.isApproved">Message</div>
        </div>
        <div class="row border rounded mb-2 py-1" *ngFor="let product of model.products, index as i">
          <div class="col-12 col-md-12 col-lg-12 col-xl-1"
            style="width:fit-content;min-width:fit-content;position:relative">
            <div style="width:fit-content;" class="mx-auto mx-lg-auto mx-xl-0">
              <a [href]="product.imageUrl" target="_blank">
                <img [src]="product.imageUrl" alt="" class="img-thumbnail" style="width:50px;height:50px;" />
              </a>
            </div>
          </div>
          <div class="col-md-12 mb-2 mb-xl-0 mx-auto mx-md-auto mx-xl-0 text-center responsive-input"
            [ngClass]="{'col-xl-4': model.isApproved,'col-xl-2': !model.isApproved}">{{ product.name | titlecase}}</div>
          <div class="col-md-12 mb-2 mb-xl-0 text-center"
            [ngClass]="{'col-xl-4': model.isApproved,'col-xl-3': !model.isApproved}">
            <select *ngIf="!model.isApproved && model.products[i].statusCode == 1" class="form-control responsive-input"
              (change)="handleCategoryChange(product)" [(ngModel)]="model.products[i].productCategoryId">
              <option [ngValue]="null">-- Select Category --</option>
              <option *ngFor="let category of categoryList" [ngValue]="category.id">
                {{ category.name }}
              </option>
            </select>
            <span *ngIf="model.isApproved"
              class="responsive-input">{{getCategoryName(product.productCategoryId)}}</span>
          </div>

          <div class="col-md-12 col-xl-2  mb-2 mb-xl-0 text-center"
            [ngClass]="{'col-xl-3': model.isApproved,'col-xl-2': !model.isApproved}">
            <select *ngIf="!model.isApproved" class="form-control responsive-input" [(ngModel)]="product.statusCode"
              (change)="handleStatusChange(product)">
              <option [ngValue]="0">-- Select Status --</option>
              <option *ngFor="let status of productStatusList" [ngValue]="status.id">
                {{ status.name}}
              </option>
            </select>
            <span *ngIf="model.isApproved" class="responsive-input">{{ product.statusText }}</span>
          </div>
          <div class="col-md-12 col-xl-4  mb-2 mb-xl-0" *ngIf="!model.isApproved">
            <textarea *ngIf="model.products[i].statusCode > 1" [(ngModel)]="product.message"
              class="form-control responsive-input" placeholder="Message" name="message"></textarea>
          </div>
        </div>
        <div class="row mb-2 mt-2 mb-xl-0 pl-5" *ngIf="!model.isApproved">
          <button class="btn btn-success font-weight-bold px-5 py-2 m-1" (click)="submitApprove()"
            *ngIf="isBatchApproved">APPROVE
          </button>
          <button class="btn btn-primary font-weight-bold px-5 py-2 m-1" style="letter-spacing: 1px"
            (click)="submitSave()">SAVE
          </button>
        </div>
      </div>
    </div>
  </div>
</div>