<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">App Users</h1>
</div>


<div class="row">
  <div class="col-md-12">
    <pagination-controls (pageChange)="p=$event" autoHide="true"></pagination-controls>
    <table class="table table-hover table-striped">
      <thead class="thead-dark" *ngIf="apiLoaded && users.length > 0">
      <tr>
        <th style="width:3%">Id</th>
        <th style="width:70px;min-width: 60px;max-width: 70px;"></th>
        <th>Name</th>
        <th>Email</th>
        <th>Source</th>
        <th class="text-center">FAQ Read</th>
        <th class="text-center">Location</th>
        <th class="text-center">Batches Count</th>
        <th class="text-center">Action</th>
      </tr>
      </thead>
      <tbody *ngFor="let user of users | paginate : {itemsPerPage:10, currentPage:p}, index as i">
      <tr>
        <td>{{ (p - 1) * 10 + i + 1}}</td>
        <td style="width:70px;min-width: 60px;max-width: 70px;padding-top : 5px;">
          <img *ngIf="user.avatarUrl!=null" [src]="user.avatarUrl" onerror="this.src='../../../../assets/images/default.jpg';"  class="profile-image"/>
          <div class="circle" *ngIf="user.avatarUrl == null">
            {{ user.name.split(' ')[0] | slice:0:1 | titlecase}}{{user.name.split(' ')[1] | slice:0:1 | titlecase}}
          </div>
        </td>
        <td>{{ user.name | titlecase}}</td>
        <td>{{ user.email}}</td>
        <td>{{ user.loginType | titlecase}}</td>
        <td style="min-width:100px" class="text-center">
      <span *ngIf="user.faqRead == 0">0</span>
          <a [routerLink]="['/app-users','faqs', user.id]" *ngIf="user.faqRead > 0" >{{ user.faqRead }}</a>
          / <button class="btn btn-outline-info" (click)="openEditFaqLimitModal(editFaqLimitModal, user.faqLimit, user.id, user.faqRead)">{{ user.faqLimit }}</button>
        </td>
        <td class="text-center">
          <span *ngIf="user.latitude != null && user.latitude.length > 0 && user.longitude != null && user.longitude.length >0">
              <a target="_blank" href="https://www.google.com/maps/search/?api=1&query={{ user.latitude}},{{ user.longitude }}">
                <img style="width:30px;height:30px" src="../../../../assets/images/marker.png"/>
              </a>
          </span>
        </td>
        <td class="text-center">
          <span *ngIf="user.batches.length == 0" class="text-center">No Products</span>
          <a *ngIf="user.batches.length > 0" [routerLink]="['/app-users/' + user.id ]"
             [queryParams]="{page:p}">{{ user.batches.length }}</a>
        </td>
        <td style="min-width:130px" class="text-center">
          <button *ngIf="user.isActive"
                  mwlConfirmationPopover [popoverTitle]="popoverTitle" [popoverMessage]="popoverBlockMessage"
                  placement="left" title="Block" (confirm)="block(user.id)" class="btn btn-warning mx-1 text-white">
            <i class="fas fa-user-lock "></i>
          </button>
          <button *ngIf="!user.isActive" title="Unblock" (click)="unblock(user.id)"
                  class="btn btn-success mx-1 text-white">
            <i class="fas fa-user-check"></i>
          </button>
          <button mwlConfirmationPopover [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessage"
                  placement="left" title="Delete" (confirm)="delete(user.id)" class="btn btn-danger mx-1">
            <i class="fas fa-trash-alt">
            </i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="card" *ngIf="apiLoaded && users.length == 0">
      <div class="card-body">
        Users list is empty. Please add one.
      </div>
    </div>

  </div>
</div>




<ng-template #editFaqLimitModal>
  <div class="card">
    <div class="card-header">
      Edit App User Maximum FAQ Read
      <button type="button" class="close pull-right " id="closeEditServiceModal" aria-label="Close"
              (click)="hideModal()">
        <span class="px-2" aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="card-body">
      <div class="container">
        <div class="row mb-2">
          Enter FAQ Limit
        </div>
        <div class="row">
          <input type="text" [(ngModel)]="faqLimitModel.faqLimit" class="form-control"
                 (keydown)="restService.handleSortOrderInput($event)">
        </div>
      </div>
    </div>
    <div class="card-footer">
      <button class="btn btn-success float-right px-5" (click)="updateMaxFaqRead()">Save</button>
    </div>
  </div>
</ng-template>
