.circle {
    width : 50px;
    height : 50px;
    background: white;
    border-radius: 100%;
    overflow: hidden;
    font-size : 25px;
    text-align: center;
    padding-top : 8px;
}

.profile-image { 
    width : 50px;
    height : 50px;
    border-radius: 100%;
    overflow: hidden;
    object-position: center center;
    object-fit: cover;
}