<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

  <h1 class="h2">Media Management</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="row">
    <div class="card mx-auto mb-2" *ngFor="let banner of banners">
      <div class="card-body">
        <div style="float:right;cursor: pointer;width:40px;height:40px;background:grey;border-top-right-radius: 3px"
          mwlConfirmationPopover [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessage" placement="left"
          title="Delete" (confirm)="deleteBanner(banner.id)">
          <svg xmlns="http://www.w3.org/2000/svg" version="1" viewBox="0 0 24 24">
            <path fill="#fafafa" d="M13 12l5-5-1-1-5 5-5-5-1 1 5 5-5 5 1 1 5-5 5 5 1-1z"></path>
          </svg>
        </div>
        <button  style="width:40px;height:40px" (click)="openEditBannerModal(editBannerModal,banner.id)" title="Edit"
          class="btn float-right btn-info mx-1 rounded-0">
          <i class="fas fa-pencil-square-o"></i>
        </button>
        <div class="row pl-3">
          <b>Title</b> : {{ banner.title }}
        </div>
        <hr>
        <img [src]="banner.fullImageUrl" class="rounded-lg" style="width: 900px;height:300px;object-fit: contain" />
        <hr>
        <div class="row pl-3">
          <b>Description</b> :
        </div>
        <div class="row pl-3">
          {{ banner.description?.length > 0 ? banner.description : 'NA' }}
        </div>
      </div>
    </div>
  </div>

  <div class="card" *ngIf="apiLoaded && banners.length == 0">
    <div class="card-body">
      Banners list is empty. Please add one.
    </div>
  </div>
  <div class="row mb-1 mt-2" *ngIf="banners.length < 3">
    <button class="btn mx-auto btn-block btn-white btn-lg border-success position-relative" title="Add Banner"
      style="width: 120px;" (click)="openAddBannerModal(addBannerModal)">
      <div class="bg-success border-success"
        style="opacity: 0.2;top:0;left:0;width:100%;position: absolute;z-index:0;height: 100%">
      </div>
      <i class="fa fa-plus text-success" style="z-index: 1000"></i>
    </button>
  </div>
</div>


<ng-template #addBannerModal>
  <div class="card">
    <div class="card-header">
      Add Banner
      <button type="button" class="close pull-right " id="closeModal" aria-label="Close" (click)="hideModal()">
        <span class="px-2" aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="card-body">
      <div class="container">
        <div class="row mb-2">
          <input type="text" class="form-control" placeholder="Enter Banner Title" [(ngModel)]="banner.title" />
        </div>
        <div class="row mb-2">
          <textarea rows="10" placeholder="Enter Banner Description" class="form-control"
            [(ngModel)]="banner.description"></textarea>
        </div>
        <div class="row">
          <input type="file" accept="image/jpeg,image/jpg,image/png" hidden id="bannerInput"
            (change)="readUrl($event)" />
          <img [src]="bannerResult.fullUrl" class="img-thumbnail" *ngIf="bannerResult.id != null" width="300px" />
        </div>
        <div class="row border rounded pl-3 p-1" style="width:fit-content" *ngIf="bannerResult.id == null">
          <label style="padding-top:7px">Select Banner Image : </label>
          <button class="btn btn-primary ml-3" title="select banner image"
            onclick="document.getElementById('bannerInput').click()"><i class="fa fa-camera"></i></button>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <button class="btn btn-success float-right px-5" (click)="addBanner()">Add</button>
    </div>
  </div>
</ng-template>


<ng-template #editBannerModal>
  <div class="card">
    <div class="card-header">
      Edit Banner
      <button type="button" class="close pull-right " id="closeEditModal" aria-label="Close" (click)="hideModal()">
        <span class="px-2" aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="card-body">
      <div class="container">
        <div class="row mb-2">
          <input type="text" class="form-control" placeholder="Enter Banner Title" [(ngModel)]="editBanner.title" />
        </div>
        <div class="row mb-2">
          <textarea rows="10" placeholder="Enter Banner Description" class="form-control"
            [(ngModel)]="editBanner.description"></textarea>
        </div>
        <input type="file" accept="image/jpeg,image/jpg,image/png" hidden id="bannerEditInput"
          (change)="readEditUrl($event)" />
        <div class="row" *ngIf="imageShown" style="width:fit-content;position:relative">
          <div (click)="removeImage()"
            style="float:right;cursor:pointer;width:30px;height:30px;background:grey;border-top-right-radius: 3px;position:absolute;right:0">
            <svg xmlns="http://www.w3.org/2000/svg" version="1" viewBox="0 0 24 24">
              <path fill="#fafafa" d="M13 12l5-5-1-1-5 5-5-5-1 1 5 5-5 5 1 1 5-5 5 5 1-1z"></path>
            </svg>
          </div>
          <img [src]="editBannerResult.fullUrl" class="img-thumbnail" width="300px" />
        </div>
        <div class="row border rounded pl-3 p-1" *ngIf="!imageShown" style="width:fit-content">
          <label style="padding-top:7px">Select Banner Image : </label>
          <button class="btn btn-primary ml-3" title="select banner image"
            onclick="document.getElementById('bannerEditInput').click()"><i class="fa fa-camera"></i></button>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <button class="btn btn-success float-right px-5" (click)="updateBanner()">Update</button>
    </div>
  </div>
</ng-template>