<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

    <h1 class="h2">App Updates</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <button [routerLink]="['/add-update']" [queryParams]="{page:p}" type="button"
                class="btn btn-sm btn-outline-secondary">Add Update</button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div *ngIf="updates.length > 0">
            <pagination-controls autoHide="true" (pageChange)="p=$event"></pagination-controls>
            <table class="table table-hover table-striped" style="width: 100%;font-size:1rem">
                <thead class="thead-dark">
                    <tr>
                        <th style="width:3%;max-width: 5%">Id</th>
                        <th style="width:150px;max-width: 150px">Platform</th>
                        <th class="text-center" style="width:100px;min-width: 100px">Version</th>
                        <th class="text-center" style="min-width:100px;width:250px">Live At</th>
                        <th class="text-center" style="min-width:150px;width:150px">Update Required</th>
                        <th class="text-center">Update Text</th>
                        <th class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody *ngFor="let update of updates | paginate:{itemsPerPage:10,currentPage:p}, index as i">
                    <tr>
                        <td style="width:3%;max-width: 5%">{{ (p-1)*10 + i +1}}</td>
                        <td
                            style="width:150px;max-width: 150px;overflow:hidden;white-space: nowrap;text-overflow: ellipsis">
                            {{update.platform | titlecase}}</td>
                        <td class="text-center" style="min-width:100px"> {{ update.version }}</td>
                        <td class="text-center" style="min-width:100px"> {{ update.live_at | date: 'medium'}}</td>
                        <td class="text-center" style="width:150px;min-width: 150px">
                            {{ update.update_required? 'Yes': 'No' }}
                        </td>
                        <td class="text-center"> {{update.update_text?.length>0 ? update.update_text : 'NA'}}</td>
                        <td style="width:100px" class="text-center">
                            <button mwlConfirmationPopover [popoverTitle]="popoverTitle"
                                [popoverMessage]="popoverMessage" placement="left" title="Delete"
                                (confirm)="delete(update.id)" class="btn btn-danger mx-1">
                                <i class="fas fa-trash-alt">
                                </i>
                            </button>
                        </td>
                    </tr>

                </tbody>
            </table>

        </div>

        <div class="card" *ngIf="apiLoaded && updates.length == 0">
            <div class="card-body">
                App Update List is Empty. Please add one.
            </div>
        </div>
    </div>
</div>