<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

  <h1 class="h2">Knowledge Box</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <button [routerLink]="['/faqs/categories']" [queryParams]="{page:p}" class="btn btn-sm btn-outline-secondary">Manage Categories</button>
      <button [routerLink]="['/faqs/add']" [queryParams]="{page:p}" type="button" class="btn btn-sm btn-outline-secondary">Add New</button>
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <pagination-controls autoHide="true" (pageChange)="p = $event"></pagination-controls>
      <table class="table table-hover table-striped" *ngIf="apiLoaded && faqList.length > 0">
        <thead class="thead-dark">
        <tr>
          <th style="width:5%">Id</th>
          <th style="width:250px;max-width: 250px;min-width:250px">Question</th>
          <th style="width:10%;max-width: 10%;min-width:10%">Faq Types</th>
<!--          <th class="text-center">Sort Order</th>-->
          <th class="text-center" style="width: 180px;min-width:180px">Action</th>
        </tr>
        </thead>
        <tbody *ngFor="let faq of faqList | paginate: { itemsPerPage: 10, currentPage: p },index as i">
        <tr>
          <td style="width:5%">{{ (p-1)*10 + i +1}}</td>
          <td style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;max-width:250px" >{{faq.question }}</td>
          <td style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;" [title]="faq.faqTypes.join(',')"> {{ faq.faqTypes.join(',')}}</td>
<!--          <td class="text-center">{{ faq.sortOrder }}</td>-->
          <td style="width:180px;min-width:180px;text-align: center">

            <button [routerLink]="['/faqs/' + faq.id]" [queryParams]="{page:p, view:1}" class="btn btn-primary mx-1" title="View"><i class="fas fa-eye"></i></button>

            <button [routerLink]="['/faqs/edit/' + faq.id]" [queryParams]="{page:p}" class="btn btn-info mx-1" title="Edit">
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </button>

            <button mwlConfirmationPopover
                    [popoverTitle]="popoverTitle"
                    [popoverMessage]="popoverMessage"
                    placement="left"
                    (confirm)="delete(faq.id)"
                    title="Delete"
                    class="btn btn-danger mx-1">
              <i class="fas fa-trash-alt"></i>
            </button>
          </td>
        </tr>

        </tbody>
      </table>

      <div class="card" *ngIf="apiLoaded && faqList.length == 0">
        <div class="card-body">
          Knowledge box list is empty. Please add one.
        </div>
      </div>
    </div>
  </div>
</div>
