<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

  <h1 class="h2">{{pageTitle}} Detail</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <button [routerLink]="['/tutorials']" [queryParams]="{page:p}" type="button" class="btn btn-sm btn-outline-secondary">Back</button>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-12 mx-auto">
    <div class="container-fluid p-2 mb-1">
      <b>Title</b>
      <p>{{ page.title }}</p>
    </div>
    <div class="container-fluid p-2 mb-1">
      <b>Sort Order</b>
      <p>{{ page.sortOrder }}</p>
    </div>
    <div class="container-fluid p-2 mb-1">
      <b>Content</b>
      <div class="card-body" style="overflow-x: hidden">
        <markdown [data]="page.content"></markdown>
      </div>
    </div>


    <hr>

    <div *ngFor="let item of page.data">
      <b>Question</b>
      <p>{{item.question}}</p>
      <hr>
      <b>Answer</b>
      <div class="card-body" style="overflow-x: hidden">
        <markdown [data]="item.answer"></markdown>
      </div>
    </div>
<!--    <div class="container">-->
<!--      <div class="row">-->
<!--        &lt;!&ndash; <h6 class="card-header" style="padding:8px 20px">Images</h6> &ndash;&gt;-->
<!--        <div class="images d-flex" style="flex-wrap: wrap;justify-content: space-evenly">-->
<!--            <img src="{{image.imageUrl}}" class="img-thumbnail mb-1" style="max-width:200px;max-height: 200px" *ngFor="let image of page.images"/>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
  </div>
</div>
