<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

  <h1 class="h2">Edit {{ pageTitle }}</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <button [routerLink]="['/tutorials']" [queryParams]="{page:p}" type="button" class="btn btn-sm btn-outline-secondary">Back</button>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-12 mx-auto">
    <div class="row mb-2">
      <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="model.title" placeholder="Add Title Here"/>
      </div>
      <div class="col-sm-2">
        <input type="number" [(ngModel)]="model.sortOrder" placeholder="Sort Order" class="form-control" (keydown)="restService.handleSortOrderInput($event)"/>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-header">
            Markdown
          </div>
          <textarea class="form-control" style="height:500px;resize:none" placeholder="Enter Content Here"
                    [(ngModel)]="model.content"></textarea>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-header">
            Content Preview
          </div>
          <div class="card-body" style="height:500px;overflow-y:scroll;overflow-x: hidden">
            <markdown [data]="model.content"></markdown>
          </div>
        </div>
      </div>
    </div>

    <div class="card" *ngIf="model.pageType == 1 && model.data.length > 0">
      <div class="card-header">
        <h3>Questions</h3>
      </div>
      <div class="card-body">
        <div class="card mb-2" *ngFor="let item of model.data,index as i">
          <div class="card-header">
            <button type="button" class="btn-danger btn" (click)="removeData(i)" style="float:right" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="card-body">
            <div class="input-group mb-2">
              <input type="text" placeholder="Enter Question" [(ngModel)]="model.data[i].question"
                     class="form-control"/>
            </div>
            <div class="row mb-2">
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-header">
                    Markdown
                  </div>
                  <textarea class="form-control" style="height:300px;resize:none" placeholder="Enter Answer Here"
                            [(ngModel)]="model.data[i].answer"></textarea>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-header">
                    Answer Preview
                  </div>
                  <div class="card-body" style="height:300px;overflow-y:scroll;overflow-x: hidden">
                    <markdown [data]="model.data[i].answer"></markdown>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container text-center">
      <button class="btn btn-success mt-2" (click)="addMore()"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add
        Question
      </button>
    </div>

    <button class="btn btn-primary mb-3" (click)="submit()">Submit</button>
  </div>
</div>
