<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Enquiries</h1>
</div>


<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <pagination-controls autoHide="true" (pageChange)="p = $event"></pagination-controls>
      <table class="table table-hover table-striped" *ngIf="apiLoaded && enquiries.length > 0">
        <thead class="thead-dark">
        <tr>
          <th style="width:5%">Id</th>
          <th style="width:250px;max-width: 250px;min-width:250px">Title</th>
          <th class="text-center" style="width:250px;max-width: 250px;min-width:250px">User</th>
          <th>Message</th>
          <th class="text-center" style="width: 180px;min-width:180px">Action</th>
        </tr>
        </thead>
        <tbody *ngFor="let enquiry of enquiries | paginate: { itemsPerPage: 10, currentPage: p },index as i">
        <tr>
          <td style="width:5%">{{ (p - 1) * 10 + i + 1}}</td>
          <td style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;max-width:250px">{{enquiry.title }}</td>
          <td class="text-center">{{ enquiry.name }}</td>
          <td style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;"> {{ enquiry.comment }}</td>
          <!--          <td class="text-center">{{ faq.sortOrder }}</td>-->
          <td style="width:180px;min-width:180px;text-align: center">

            <button [routerLink]="['/enquiries','view', enquiry.id]" [queryParams]="{page:p}" class="btn btn-primary mx-1"
                    title="View"><i class="fas fa-eye"></i></button>

<!--            <button [routerLink]="['/faqs/edit/' + faq.id]" [queryParams]="{page:p}" class="btn btn-info mx-1"-->
<!--                    title="Edit">-->
<!--              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>-->
<!--            </button>-->

<!--            <button mwlConfirmationPopover-->
<!--                    [popoverTitle]="popoverTitle"-->
<!--                    [popoverMessage]="popoverMessage"-->
<!--                    placement="left"-->
<!--                    (confirm)="delete(faq.id)"-->
<!--                    title="Delete"-->
<!--                    class="btn btn-danger mx-1">-->
<!--              <i class="fas fa-trash-alt"></i>-->
<!--            </button>-->
          </td>
        </tr>

        </tbody>
      </table>

      <div class="card" *ngIf="apiLoaded && enquiries.length == 0">
        <div class="card-body">
          Enquiries list is empty.
        </div>
      </div>
    </div>
  </div>
</div>
