<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" [routerLink]="['/']">Cosmoally</a>
  <ul class="dropdown navbar-nav px-3 float-right">
    <a data-toggle="dropdown" style="color: #ffffff;padding-left: 95px;cursor: pointer">
      {{userName}}
      <i class="fa fa-caret-down" aria-hidden="true"></i>
    </a>
    <div class="dropdown-menu" style="position: absolute;top:30px">
      <a class="dropdown-item" [routerLink]="['/users/detail/' + userId]">Profile</a>
      <a class="dropdown-item" [routerLink]="['/users/edit/' + userId]">Edit</a>
      <a class="dropdown-item" [routerLink]="['/users/change-password/' + userId]">Change Password</a>
      <a class="dropdown-item" (click)="logout()">Sign out</a>
    </div>
  </ul>
</nav>
