<app-navbar></app-navbar>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <!--        <ul class="nav flex-column">-->
        <!--          <li class="nav-item">-->
        <!--            <a class="nav-link active" [routerLink]="['/']">-->
        <!--              <span data-feather="home"></span>-->
        <!--              Dashboard <span class="sr-only">(current)</span>-->
        <!--            </a>-->
        <!--          </li>-->

        <!--        </ul>-->

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Administration</span>
          <a class="d-flex align-items-center text-muted" href="#">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/tutorials']">
              <span data-feather="file-text"></span>
              Tutorials
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/faqs']">
              <span data-feather="file-text"></span>
              Knowledge Box
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/services']">
              <span data-feather="file-text"></span>
              Services
            </a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" [routerLink]="['/products']">
              <span data-feather="file-text"></span>
              Products
            </a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/products']">
              <span data-feather="file-text"></span>
              Categorize Products
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/product/categories']">
              <span data-feather="file-text"></span>
              Product Categories
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/app-users']">
              <span data-feather="file-text"></span>
              App Users
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/notifications']">
              <span data-feather="file-text"></span>
              Notifications
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/banners']">
              <span data-feather="file-text"></span>
              Media Management
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/users']">
              <span data-feather="file-text"></span>
              Admin Users
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/enquiries']">
              <span data-feather="file-text"></span>
              Enquiry Management
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/app-updates']">
              <span data-feather="file-text"></span>
              App Updates </a>
          </li>

        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>