<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

  <h1 class="h2">Product Categories</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <button (click)="goBack()" type="button" class="btn btn-sm btn-outline-secondary">Back</button>
    </div>
  </div>
</div>


<div class="container-fluid" style="font-size: 18px">
  <div class="row">
    <div class="col-sm-6 ">
      <div class="card">
        <div class="card-header">
          Update Product Category
        </div>
        <div class="card-body">
          <div class="row">
            <input class="form-control m-1" placeholder="Enter Category Name" [(ngModel)]="model.name"/>
          </div>
          <div class="row">
            <input class="form-control m-1" placeholder="Enter Category Description" [(ngModel)]="model.description">
          </div>

          <div class="row">
            <div class="input-group">
              <div class="input-group-prepend m-1" style="margin-right: 0px !important;">
                <div class="input-group-text">USD</div>
              </div>
              <input type="number" class="form-control m-1 border-left-0" style="margin-left: 0px !important;" placeholder="Enter Category Cost" [(ngModel)]="model.categoryCost"/>
            </div>
          </div>
          <div class="row">
            <div class="input-group">
              <div class="input-group-prepend m-1" style="margin-right: 0px !important;">
                <div class="input-group-text">USD</div>
              </div>
              <input class="form-control m-1 border-left-0" type="number" style="margin-left: 0px !important;" placeholder="Enter Per Variant Cost" [(ngModel)]="model.perVariantCost"/>
            </div>

          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-success mx-auto" (click)="editCategory()">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>
