<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Product Batches</h1>
  <div class="btn-toolbar mb-2 mb-md-0">

    <div class="btn-group mr-2">
      <div class="row border rounded pl-3 p-1" style="width:fit-content">
        <div class="form-check form-check-inline">
          <label class="form-check-label" for="inlineCheckbox3">Filter By Status</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" [disabled]="isAllFilterDisabled" type="checkbox" id="inlineCheckbox3" (change)="showAll()"
            [(ngModel)]="allFilter">
          <label class="form-check-label" for="inlineCheckbox3">All</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox1" (change)="filterProducts()"
            [(ngModel)]="newFilter">
          <label class="form-check-label" for="inlineCheckbox1">New</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox2" (change)="filterProducts()"
            [(ngModel)]="approvedFilter">
          <label class="form-check-label" for="inlineCheckbox2">Approved</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox3" (change)="filterProducts()"
            [(ngModel)]="savedFilter">
          <label class="form-check-label" for="inlineCheckbox3">Saved</label>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-12">

    <pagination-controls autoHide="true" (pageChange)="p=$event"></pagination-controls>
    <table class="table table-hover table-striped">
      <thead class="thead-dark" *ngIf="apiLoaded && productBatches.length > 0">
        <tr>
          <th style="width:5%">Id</th>
          <th>User</th>
          <th>Email</th>
          <th>Batch</th>
          <th class="text-center">Product Count</th>
          <th>Uploaded At</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody *ngFor="let batch of filteredProductBatches | paginate:{itemsPerPage:10, currentPage: p}, index as i">
        <tr>
          <td>{{ (p-1)*10 + i +1}}</td>
          <td>{{ batch.userName | titlecase}}</td>
          <td>{{ batch.userEmail }}</td>
          <td><a [routerLink]="['/products/batch/' + batch.batchNumber]"
              [queryParams]="{page:p}">{{batch.batchNumber | uppercase}}</a></td>
          <td class="text-center">{{ batch.productCount }}</td>
          <td>{{ batch.uploadedAt | date:'dd LLL yyyy hh:mm a' }}</td>
          <td>
            <span *ngIf="batch.isApproved" class="badge badge-success">Approved</span>
            <span *ngIf="!batch.isApproved && batch.isSaved" class="badge badge-warning">Saved</span>
            <span *ngIf="!batch.isApproved && !batch.isSaved" class="badge badge-light text-dark">New</span>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="card" *ngIf="apiLoaded && productBatches.length == 0">
      <div class="card-body">
        Batch list is empty. You will see when a user adds one.
      </div>
    </div>

  </div>
</div>