<div class="container-fluid authentication-screen">
  <div class="py-5 text-center">

  </div>
  <div class="authentication-container">
    <div class="authentication-wrapper">
      <div class="row authentication-wrapper-row align-items-center  justify-content-center">
        <div class="col-md-4">
          <div class="auth-header text-center">
            <img class="img-fluid" src="../../assets/images/logo_icon.png">
            <br>
            <br>
          </div>
          <div class="auth-body">
            <form autocomplete="off">
              <div class="form-group">
                <label>OTP</label>
                <input class="form-control" placeholder="Enter OTP" name="otp" [(ngModel)]="model.otp"/>
              </div>
              <div class="form-group">
                <label>New Password</label>
                <input class="form-control" type="password" name="password" placeholder="Enter New Password"
                       [(ngModel)]="model.password"/>
              </div>
              <div class="form-group">
                <label>Confirm Password</label>
                <input class="form-control" type="password" name="confirm" placeholder="Confirm Password"
                       [(ngModel)]="model.confirmPassword"/>
              </div>
              <div class="form-group">
                <button class="btn btn-outline-light float-left" (click)="backToLogin()">Back To Login</button>
                <button class="btn btn-outline-light float-right" (click)="resetPassword()">Reset Password</button>
              </div>
            </form>
          </div>
        </div>
      </div>

  </div>
  <div class="authenticate-hero">

  </div>
</div>

<hr>
<footer class="my-5 pt-5  text-center text-small">
  <p class="mb-1">&copy; 2014-{{thisYear}} SYMB Technologies</p>
  <ul class="list-inline">
    <li class="list-inline-item"><a href="#">Privacy</a></li>
    <li class="list-inline-item"><a href="#">Terms</a></li>
    <li class="list-inline-item"><a href="#">Support</a></li>
  </ul>
</footer>
</div>
