.authentication-screen{
  height: 100vh;
  background-image: url('../../../assets/images/home_bg.png');
  color: white;
  background-repeat-x: repeat;
  background-repeat-y: no-repeat;
  /* background-position-x: left; */
  background-color: #7046fe;
  a{
    color: white;
  }
  a:hover{
    color: white;
  }
}
