<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

  <h1 class="h2">Admin Users</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <button [routerLink]="['/users/add']" [queryParams]="{page:p}" type="button" class="btn btn-sm btn-outline-secondary">Add New Admin</button>
      <button type="button" class="btn btn-sm btn-outline-secondary d-none">Export</button>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-12">

    <pagination-controls autoHide="true" (pageChange)="p=$event" *ngIf="apiLoaded && users.length > 0"></pagination-controls>
    <table class="table table-hover table-striped" *ngIf="apiLoaded && users.length > 0">
      <thead class="thead-dark">
      <tr>
        <th style="width:5%">Id</th>
        <th>Name</th>
        <th>Email</th>
        <!-- <th>User Type</th> -->
        <th class="text-center" style="width:30%;min-width:240px">Action</th>
      </tr>
      </thead>
      <tbody *ngFor="let user of users | paginate:{itemsPerPage:10, currentPage: p}, index as i">
      <tr>
        <td>{{ (p-1)*10 + i +1}}</td>
        <td>{{user.name | titlecase}}</td>
        <td> {{user.email}}</td>

        <!-- <td><span  class="badge {{ user.isAdmin ? 'badge-success' : 'badge-info'}}">{{ user.isAdmin ? 'Admin' : 'User'}}</span></td> -->

        <td style="width:30%;min-width:240px" class="text-center">
          <button [routerLink]="['change-password/' + user.id]" [queryParams]="{page:p}" class="btn btn-warning mx-1" [disabled]="!user.isAdmin" title="Change Password">
            <i class="fas fa-key"></i>
          </button>
          <button [routerLink]="['detail/' + user.id]" [queryParams]="{page:p}" class="btn btn-info mx-1" title="View">
            <i class="fa fa-eye"></i>
          </button>
          <button [routerLink]="['edit/' + user.id]" [queryParams]="{page:p}" class="btn btn-primary mx-1" title="Edit" [disabled]="!user.isAdmin">
            <i class="fas fa-pencil-square-o"></i>
          </button>
          <button mwlConfirmationPopover
                  [popoverTitle]="popoverTitle"
                  [popoverMessage]="popoverMessage"
                  placement="left"
                  title="Delete"
                  (confirm)="delete(user.id)"
                  class="btn btn-danger mx-1"><i class="fas fa-trash-alt"></i></button>
        </td>
      </tr>

      </tbody>
    </table>

    <div class="card" *ngIf="apiLoaded && users.length == 0">
      <div class="card-body">
        Users list is empty. Please add one.
      </div>
    </div>

  </div>
</div>
