<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

  <h1 class="h2">Batch Preview</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <button (click)="goBack()" type="button" class="btn btn-sm btn-outline-secondary">Back</button>
    </div>
  </div>
</div>


<div class="container-fluid" style="font-size: 18px">
  <div class="row">
    <div class="col-md-12 ">
      <div class="card">
        <div class="card-header">
          Batch Number : {{ batchNumber | uppercase}}
          <div class="float-right">
            Uploaded At : {{ batch.uploadedAt | date:'medium' }}
          </div>
        </div>
        <div class="card-body">
          <div class="card mb-3" *ngFor="let currentCategory of batch.categories ; index as i">
            <div class="card-header">
              Category - {{ currentCategory.category?.name }}
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead class="thead-dark">
                    <tr>
                      <th style="width:5%">Id</th>
                      <th>Product Name</th>
                      <th>User</th>
                      <th>Category</th>
                      <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let product of currentCategory.products, index as i">
                      <td>{{ i + 1 }}</td>
                      <td>{{ product.name | titlecase}}</td>
                      <td>{{ batch.userName }}</td>
                      <td>{{ currentCategory.category.name }}</td>
                      <td>{{ product.statusText }}</td>
                    </tr>
                    </tbody>
                  </table>
            </div>
            <div class="card-footer">
              Category Govt. Fees - ${{ currentCategory.govtFees}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
