<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

  <h1 class="h2">Change Admin Password</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <button [routerLink]="['/users']" [queryParams]="{page:p}" type="button" class="btn btn-sm btn-outline-secondary">Back</button>
    </div>
    <!--<button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">-->
    <!--<span data-feather="calendar"></span>-->
    <!--This week-->
    <!--</button>-->
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label>New Password</label>
      <div class="position-relative">
        <input type="{{isPasswordViewed?'text':'password'}}" class="form-control" maxlength="20" autocomplete="off" [(ngModel)]="model.newPassword" placeholder="Password"/>
        <div *ngIf="!isPasswordViewed" class="position-absolute" style="top:0;right:0;padding:5px 10px 0px 10px">
          <i class="fas fa-eye-slash text-primary" style="font-size: 30px;cursor:pointer;" (click)="viewPasswordToggle()"></i>
        </div>
        <div *ngIf="isPasswordViewed" class="position-absolute rounded-right" style="top:0;right:0;padding:5px 10px 0px 10px;background: #333">
          <i class="fas fa-eye text-white" style="font-size: 30px;cursor:pointer;" (click)="viewPasswordToggle()"></i>
        </div>
      </div>
      <small id="passwordHelp" class="form-text text-muted">Easy to remember and hard to guess</small>
    </div>
    <div class="form-group">
      <label>Confirm Password</label>
      <div class="position-relative">
        <input type="{{isConfirmViewed?'text':'password'}}" class="form-control" maxlength="20" autocomplete="off" [(ngModel)]="model.confirmPassword" placeholder="Password"/>
        <div *ngIf="!isConfirmViewed" class="position-absolute" style="top:0;right:0;padding:5px 10px 0px 10px">
          <i class="fas fa-eye-slash text-primary" style="font-size: 30px;cursor:pointer;" (click)="viewConfirmToggle()"></i>
        </div>
        <div *ngIf="isConfirmViewed" class="position-absolute rounded-right" style="top:0;right:0;padding:5px 10px 0px 10px;background: #333">
          <i class="fas fa-eye text-white" style="font-size: 30px;cursor:pointer;" (click)="viewConfirmToggle()"></i>
        </div>
      </div>
    </div>

    <button (click)="submit()" class="btn btn-primary">Submit</button>
  </div>
</div>
