<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
  xmlns="http://www.w3.org/1999/html">
  <h1 class="h2">Add App Update</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <button [routerLink]="['/app-updates']" [queryParams]="{ page: p }" type="button"
        class="btn btn-sm btn-outline-secondary">
        Back
      </button>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <label><b>Platform</b></label>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-12">
      <select class="form-control" [(ngModel)]="model.platform">
        <option value="">Select Platform</option>
        <option value="android">Android</option>
        <option value="ios">IOS</option>
      </select>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-12">
      <label><b>Version</b> ( x.y.z )</label>
    </div>
    <div class="col-12">
      <input class="form-control" placeholder="Enter App Version e.g. (1.0.0 , 1.1.1)" [(ngModel)]="model.version" />
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-sm-6">
      <div class="form-check form-check-inline">
        &nbsp;&nbsp;<input class="form-check-input" type="checkbox" id="inlineCheckbox1" [value]="true"
          [(ngModel)]="live_now" />
        <label class="form-check-label" for="inlineCheckbox1"><b>Live Now</b></label>
      </div>
    </div>
  </div>
  <div *ngIf="!live_now">
    <div class="row mb-4">
      <div class="col-sm-6">
        <b>Schedule Update</b> &nbsp;(DD/MM/YYYY)
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-sm-6">
        <input type="text" placeholder="Select Date" class="form-control" [(ngModel)]="date" bsDatepicker
          [bsConfig]="{ adaptivePosition: true, dateInputFormat: 'DD/MM/YYYY' }" [minDate]="minDate" />
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-sm-6">
        <timepicker [(ngModel)]="time"></timepicker>
      </div>
    </div>
  </div>

  <div class="row mt-4 mb-4">
    <div class="col-sm-6">
      <div class="form-check form-check-inline">
        &nbsp;&nbsp;<input class="form-check-input" type="checkbox" id="inlineCheckbox2" [value]="true"
          [(ngModel)]="model.update_required" />
        <label class="form-check-label" for="inlineCheckbox2"><b>Update Required</b></label>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <label>
        <b>Update Text</b>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <textarea class="form-control" [(ngModel)]="model.update_text" placeholder="Enter Update Text"></textarea>
    </div>
  </div>
</div>
<div class="row mt-4 mb-2">
  <div class="col-sm-4 mx-auto">
    <button class="btn btn-success btn-block" (click)="addUpdate()">
      ADD
    </button>
  </div>
</div>