<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

  <h1 class="h2">Product Category Detail</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <button [routerLink]="['/product/categories']" type="button" class="btn btn-sm btn-outline-secondary">Back
      </button>
    </div>
  </div>
</div>


<div class="container-fluid" style="font-size: 18px">

    <div class="container">
      <b>Category Name</b>
      <p>{{ category.name }}</p>
    </div>
    <hr>
    <div class="container">
      <b>Category Description</b>
      <p>{{ category.description }}</p>
    </div>
  <hr>
    <div class="container">
      <b>Category Cost</b>
      <p>$ {{ category.categoryCost }}</p>
    </div>
  <hr>
    <div class="container">
      <b>Per Variant Cost</b>
      <p>$ {{ category.perVariantCost }}</p>
    </div>
</div>
