<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Notification Users</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <button [routerLink]="['/notifications']" [queryParams]="{page:p}" type="button" class="btn btn-sm btn-outline-secondary">Back</button>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-12">

    <table class="table table-hover table-striped">
      <thead class="thead-dark">
        <tr>
          <th style="width:5%">Id</th>
          <th>Name</th>
          <th>Email</th>
          <th class="text-center">Action</th>
        </tr>
      </thead>
      <tbody *ngFor="let user of users, index as i">
        <tr>
          <td>{{i+1}}</td>
          <td>{{user.name | titlecase}}</td>
          <td>{{user.email}}</td>
          <td class="text-center">
              <button *ngIf="user.isActive"
              mwlConfirmationPopover [popoverTitle]="popoverTitle" [popoverMessage]="popoverBlockMessage"
                placement="left" title="Block" (confirm)="block(user.id)" class="btn btn-warning mx-1 text-white">
                <i class="fas fa-user-lock "></i>
              </button>
              <button *ngIf="!user.isActive" title="Unblock" (click)="unblock(user.id)" class="btn btn-success mx-1 text-white">
                <i class="fas fa-user-check"></i>
              </button>
            <button mwlConfirmationPopover [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessage"
              placement="left" title="Delete" (confirm)="delete(user.id)" class="btn btn-danger mx-1">
              <i class="fas fa-trash-alt">
              </i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="card" *ngIf="apiLoaded && users.length == 0">
      <div class="card-body">
        Users list is empty. Please add one.
      </div>
    </div>

  </div>
</div>
