<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
     xmlns="http://www.w3.org/1999/html">

  <h1 class="h2">Edit Notification</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <button [routerLink]="['/notifications']" [queryParams]="{page:p}" type="button" class="btn btn-sm btn-outline-secondary">Back</button>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row mb-2">
    <label><b>Title</b></label>
    <input class="form-control" placeholder="Enter Notification Title Here" [(ngModel)]="model.title" />
  </div>
  <div class="row mb-2">
    <label><b>Message</b></label>
    <textarea class="form-control" rows="7" placeholder="Enter Notification Text Here"
              [(ngModel)]="model.message"></textarea>
  </div>
  <div class="row mt-5 mb-5">
    <div class="col-sm-6">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
               [(ngModel)]="model.isAllSelected" [value]="true">
        <label class="form-check-label" for="inlineRadio1">Send to All</label>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
               [(ngModel)]="model.isAllSelected" [value]="false">
        <label class="form-check-label" for="inlineRadio2">Send to Selected Users</label>
      </div>
    </div>
  </div>

  <div *ngIf="!model.isAllSelected">
    <div class="row">
      <b>Recipients</b>
    </div>
    <div class="row mt-2">
      <ng-multiselect-dropdown [placeholder]="'Select recipient users'" [(ngModel)]="model.users" style="width:100%"
                               [data]="userList" [settings]="multipleDropDownSettings">
      </ng-multiselect-dropdown>
    </div>
  </div>
  <div class="row mt-4">
    <b>Schedule Notification</b>
  </div>
  <div class="row mt-2 mb-2">
    <div class="col-sm-6">
      <div class="form-check form-check-inline">
        <label class="form-check-label" for="inlineCheckbox1">Send Immediately</label>
        &nbsp;&nbsp;<input class="form-check-input" type="checkbox" id="inlineCheckbox1" [value]="true" [(ngModel)]="sendNow">
      </div>
    </div>
  </div>
  <div class="row mt-2" *ngIf="!sendNow">
    <div class="col-md-3 col-sm-4 col-6 pt-2">
      <label>Select Date : </label>
    </div>
    <div class="col-sm-4 col-md-3 col-6">
      <input type="text" placeholder="Select Date" class="form-control" [(ngModel)]="date" bsDatepicker
             [bsConfig]="{ adaptivePosition: true }" 
             [minDate]="minDate">
    </div>
  </div>
  <div class="row mt-2" *ngIf="!sendNow">
    <div class="col-md-3 col-sm-4 col-6 pt-4">
      <label>Select Time : </label>
    </div>
    <div class="col-sm-4 col-md-3 col-6">
      <timepicker [(ngModel)]="time"></timepicker>
    </div>
  </div>
</div>
<div class="row mt-4 mb-2">
  <div class="col-sm-4 mx-auto">
    <button class="btn btn-success btn-block" (click)="submitUpdate()">Update</button>
  </div>
</div>
