<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

  <h1 class="h2">Notification Detail</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <button [routerLink]="['/notifications']" [queryParams]="{page:p}" type="button" class="btn btn-sm btn-outline-secondary">Back</button>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-12 mx-auto">
    <div class="container-fluid p-2 mb-1">
      <b>Notification Title</b>
      <p>{{ notification?.title }}</p>
    </div>

    <hr>

    <div class="container-fluid p-2 mb-1">
      <b>Message</b>
      <p>{{ notification?.message }}</p>
    </div>

    <hr>

    <div class="container-fluid p-2 mb-1">
      <b>Recipient User</b>
      <p>{{ notification.isAllSelected ? 'All Users' : (notification.users?.length == 1 ? '1 User Selected' : (notification.users?.length + 'Users Selected')) }}</p>
    </div>

    <hr>

    <div class="container-fluid p-2 mb-1">
      <b>Scheduled At</b>
      <p>{{ notification?.scheduledAt | date:'dd LLL yyyy, hh:mm a' }}</p>
    </div>


    <hr>

    <div class="container-fluid p-2 mb-1">
      <b>Status</b>
      <br>
      <span  class="badge {{ notification.status=='Pending' ? 'badge-warning' : 'badge-success'}}">{{ notification.status}}</span> &nbsp;
    </div>


  </div>
</div>
