<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Batch Log ({{ batchNumber }})</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <button [routerLink]="['/','products','batch',batchNumber ]" type="button"
              class="btn btn-sm btn-outline-secondary">Back
      </button>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
      <pagination-controls autoHide="true" (pageChange)="p=$event" *ngIf="logs.length > 0"></pagination-controls>
      <table class="table table-hover table-striped" *ngIf="logs.length > 0">
        <thead class="thead-dark">
        <tr>
          <th style="width:5%">Id</th>
          <th>User</th>
          <th>Product</th>
          <th>Activity</th>
          <th>Date/Time</th>
        </tr>
        </thead>
        <tbody *ngFor="let log of logs | paginate:{itemsPerPage:10, currentPage: p}, index as i">
        <tr>
          <td style="width:5%;">{{ (p-1)*10 + i +1}}</td>
          <td>{{ log.user.name | titlecase}}</td>
          <td>{{ log.product == null ? 'NA' : log.product?.name }}</td>
          <td>{{ log.activity.join(', ') }}</td>
          <td>{{ getLocalTime(log.createdAt.date) | date:'medium' }}</td>
        </tr>
        </tbody>
      </table>

      <div class="card" *ngIf="apiLoaded && logs.length == 0">
        <div class="card-body">
          Batch Log is empty.
        </div>
      </div>
    </div>
</div>
