<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

  <h1 class="h2">Notifications</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <button [routerLink]="['/notifications/send']" [queryParams]="{page:p}" type="button" class="btn btn-sm btn-outline-secondary">Send
        Notification</button>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <pagination-controls autoHide="true" (pageChange)="p=$event"></pagination-controls>
    <table class="table table-hover table-striped" *ngIf="notifications.length>0">
      <thead class="thead-dark">
        <tr>
          <th style="width:5%">Id</th>
          <th>Title</th>
          <th>Users</th>
          <th>Scheduled At</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody *ngFor="let notification of notifications | paginate:{itemsPerPage:10,currentPage:p}, index as i">
        <tr>
          <td>{{ (p-1)*10 + i +1}}</td>
          <td>{{notification.title}}</td>
          <td *ngIf="notification.isAllSelected">
            All Users
          </td>
          <td *ngIf="!notification.isAllSelected">
            <a [routerLink]="['/notifications/users/' + notification.id ]" [queryParams]="{page:p}">
              {{ notification.users.length }} {{ notification.users.length === 1 ? 'User' : 'Users' }}
            </a>
          </td>
          <td>{{ notification.scheduledAt | date:'dd LLL yyyy, hh:mm a' }}</td>
          <td>
            <span class="badge {{ notification.status=='Pending' ? 'badge-warning' : 'badge-success'}} p-1">
              {{ notification.status }}
            </span>
          </td>
          <td>
            <button [routerLink]="['/notifications/view/' + notification.id]"  [queryParams]="{page:p}" class="btn btn-primary mx-1" title="View">
              <i class="fas fa-eye"></i>
            </button>

<!--            <button [routerLink]="['/notifications/edit/' + notification.id]" class="btn btn-info mx-1" title="Edit">-->
<!--              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>-->
<!--            </button>-->

<!--            <button mwlConfirmationPopover-->
<!--                    [popoverTitle]="popoverTitle"-->
<!--                    [popoverMessage]="popoverMessage"-->
<!--                    placement="left"-->
<!--                    (confirm)="delete(notitfication.id)"-->
<!--                    title="Delete"-->
<!--                    class="btn btn-danger mx-1">-->
<!--              <i class="fas fa-trash-alt"></i>-->
<!--            </button>-->
          </td>
        </tr>
      </tbody>
    </table>

    <div class="card" *ngIf="apiLoaded && notifications.length == 0">
      <div class="card-body">
        Notification list is empty. Please add one.
      </div>
    </div>

  </div>
</div>
