<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

  <h1 class="h2">Services</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <button type="button" class="btn btn-sm btn-outline-secondary" (click)="openAddServiceModal(addServiceModal)">Add
        Service
      </button>
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="card mb-2" style="min-width: fit-content">
    <div class="card-header pl-2">
      <h2 class="pl-2">Registration</h2>
    </div>
    <div class="card-body" style="min-width: fit-content">
      <table class="table table-hover table-striped" *ngIf="listone.length > 0">
        <thead class="thead-dark">
        <tr>
          <th style="width:5%">Id</th>
          <th>Service</th>
          <th class="text-center">Sort Order</th>
          <th class="text-center" style="width: 130px;min-width:130px">Action</th>
        </tr>
        </thead>
        <tbody *ngFor="let service of listone | paginate:{itemsPerPage:5, currentPage:p1 , id:'d1'},index as i">
        <tr>
          <td>{{ (p1 - 1) * 5 + i + 1}}</td>
          <td
            style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;max-width: 100px;">{{ service.name }}</td>
          <td class="text-center">{{ service.sortOrder }}</td>
          <td style="width: 130px;min-width:130px">
            <button class="btn btn-info mx-1" title="Edit Service"
                    (click)="openEditServiceModal(editServiceModal,service.id)"><i
              class="fa fa-pencil-square-o" aria-hidden="true"></i></button>

            <button mwlConfirmationPopover [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessage"
                    placement="left" title="Delete Category" (confirm)="deleteService(service.id)"
                    class="btn btn-danger mx-1"><i class="fas fa-trash-alt" aria-hidden="true"></i></button>
          </td>
        </tr>

        </tbody>
      </table>
      <pagination-controls autoHide="true" (pageChange)="p1=$event" id="d1"></pagination-controls>
      <div class="row pl-2 text-center" *ngIf="listone.length==0">
        No Service Added
      </div>
    </div>
  </div>


  <div class="card mb-2" style="min-width: fit-content">
    <div class="card-header pl-2">
      <h2 class="pl-2">Entry to India</h2>
    </div>
    <div class="card-body" style="min-width: fit-content">
      <table class="table table-hover table-striped" *ngIf="listtwo.length > 0">
        <thead class="thead-dark">
        <tr>
          <th style="width:5%">Id</th>
          <th>Service</th>
          <th class="text-center">Sort Order</th>
          <th class="text-center" style="min-width:130px;width:130px">Action</th>
        </tr>
        </thead>
        <tbody *ngFor="let service of listtwo | paginate:{itemsPerPage:5,currentPage:p2, id:'d2'},index as i">
        <tr>
          <td>{{ (p2 - 1) * 5 + i + 1}}</td>
          <td
            style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;max-width: 100px;">{{ service.name }}</td>
          <td class="text-center">{{ service.sortOrder }}</td>
          <td style="min-width:130px;width:130px">

            <button class="btn btn-info mx-1" title="Edit Service"
                    (click)="openEditServiceModal(editServiceModal,service.id)"><i
              class="fa fa-pencil-square-o" aria-hidden="true"></i></button>

            <button mwlConfirmationPopover [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessage"
                    placement="left" title="Delete Category" (confirm)="deleteService(service.id)"
                    class="btn btn-danger mx-1"><i class="fas fa-trash-alt" aria-hidden="true"></i></button>
          </td>
        </tr>

        </tbody>
      </table>
      <pagination-controls autoHide="true" (pageChange)="p2=$event" id="d2"></pagination-controls>
      <div class="row pl-2 text-center" *ngIf="listtwo.length==0">
        No Service Added
      </div>
    </div>
  </div>
</div>


<ng-template #addServiceModal>
  <div class="card">
    <div class="card-header">
      Add Service
      <button type="button" class="close pull-right " id="closeAddServiceModal" aria-label="Close"
              (click)="hideModal()">
        <span class="px-2" aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="card-body">
      <div class="row mb-2">
        <div class="col-sm-4">
          List
        </div>
        <div class="col-sm-8">
          <select class="form-control" [(ngModel)]="model.listType">
            <option value="">Select List</option>
            <option value="1">Registration</option>
            <option value="2">Entry to India</option>
          </select>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-sm-4">
          Service Name
        </div>
        <div class="col-sm-8">
          <input type="text" [(ngModel)]="model.name" class="form-control"/>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-sm-4">
          Sort Order
        </div>
        <div class="col-sm-8">
          <input type="text" [(ngModel)]="model.sortOrder" class="form-control"
                 (keydown)="restService.handleSortOrderInput($event)">
        </div>
      </div>
    </div>
    <div class="card-footer">
      <button class="btn btn-success float-right px-5" (click)="submitAdd()">Add</button>
    </div>
  </div>
</ng-template>

<ng-template #editServiceModal>
  <div class="card">
    <div class="card-header">
      Edit Service
      <button type="button" class="close pull-right " id="closeEditServiceModal" aria-label="Close"
              (click)="hideModal()">
        <span class="px-2" aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="card-body">
      <div class="row mb-2">
        <div class="col-sm-4">
          Select List
        </div>
        <div class="col-sm-8">
          <select class="form-control" [(ngModel)]="model.listType">
            <option value="1">Registration</option>
            <option value="2">Entry to India</option>
          </select>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-sm-4">
          Service Name
        </div>
        <div class="col-sm-8">
          <input type="text" [(ngModel)]="model.name" class="form-control"/>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-sm-4">
          Sort Order
        </div>
        <div class="col-sm-8">
          <input type="text" [(ngModel)]="model.sortOrder" class="form-control"
                 (keydown)="restService.handleSortOrderInput($event)">
        </div>
      </div>
    </div>
    <div class="card-footer">
      <button class="btn btn-success float-right px-5" (click)="submitUpdate()">Save</button>
    </div>
  </div>
</ng-template>
