<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">FAQs Read by {{ user?.name }}</h1>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <pagination-controls autoHide="true" (pageChange)="p = $event"></pagination-controls>
      <table class="table table-hover table-striped" *ngIf="faqList.length > 0">
        <thead class="thead-dark">
          <tr>
            <th style="width:5%">Id</th>
            <th style="width:250px;max-width: 250px;min-width:250px">Question</th>
            <th style="width:10%;max-width: 10%;min-width:10%">Faq Types</th>
            <th class="text-center" style="width: 180px;min-width:180px">Action</th>
          </tr>
        </thead>
        <tbody *ngFor="let currentFaq of faqList | paginate: { itemsPerPage: 10, currentPage: p },index as i">
          <tr>
            <td style="width:5%">{{ (p-1)*10 + i +1}}</td>
            <td style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;max-width:250px">{{ currentFaq.faq.question }}
            </td>
            <td style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">
              {{ currentFaq.faq.faqTypes.join(', ') }}</td>
            <td style="width:180px;min-width:180px;text-align: center">
              <button [routerLink]="['/faqs/' + currentFaq.faq.id]" [queryParams]="{page:p, view:2, userId: userId}" class="btn btn-primary mx-1"
                title="View"><i class="fas fa-eye"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>