<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

  <h1 class="h2">Enquiry Detail</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <button [routerLink]="['/enquiries']" [queryParams]="{page:p}" type="button" class="btn btn-sm btn-outline-secondary">Back</button>
<!--      <button *ngIf="whichView>1" [routerLink]="['/app-users','faqs', userId]" [queryParams]="{page:p}" type="button" class="btn btn-sm btn-outline-secondary">Back</button>-->
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-12 mx-auto">
<!--    <div class="container-fluid p-2 mb-1">-->
<!--      <b>Categories</b>-->
<!--      <br>-->
<!--&lt;!&ndash;      <span class="badge badge-info m-1" style="font-size: 15px" *ngFor="let item of faq.faqTypes">&ndash;&gt;-->
<!--&lt;!&ndash;        {{item.name}} &nbsp;&ndash;&gt;-->
<!--&lt;!&ndash;      </span>&ndash;&gt;-->
<!--    </div>-->

<!--    <hr>-->

    <!--    <div class="container p-2 mb-1">-->
    <!--      <b>Sort Order</b>-->
    <!--      <p>{{ faq?.sortOrder }}</p>-->
    <!--    </div>-->

    <div class="container-fluid p-2 mb-1">
      <b>Title</b>
      <p>{{ enquiry?.title }}</p>
    </div>

    <hr>

    <div class="container-fluid p-2 mb-1">
      <b>Message</b>
      <p>{{ enquiry?.comment }}</p>
    </div>

    <hr>
    <div class="container-fluid p-2 mb-1">
      <b>User</b>
      <p>{{ enquiry?.name }} ( {{ enquiry?.email }} )</p>
    </div>
    <!--      <div class="container">-->
    <!--        <div class="row">-->
    <!--          &lt;!&ndash; <h6 class="card-header" style="padding:8px 20px">Images</h6> &ndash;&gt;-->
    <!--          <div class="images d-flex" *ngIf="faq?.images" style="flex-wrap: wrap;justify-content: space-evenly">-->
    <!--              <img src="{{image.imageUrl}}" class="img-thumbnail mb-1" style="max-width:200px;max-height: 200px" *ngFor="let image of faq.images"/>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--      </div>-->
  </div>
</div>
