<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

  <h1 class="h2">Consumer Products</h1>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card border-0">
      <div class="card-header border-0 bg-white" style="padding:0.1rem 1rem">
        <div class="row bg-dark text-white rounded mb-1">
          <div class="col-sm-1">
          </div>
          <div class="col-sm-2 text-center">Id</div>
          <div class="col-sm-3 text-center">Batch Number</div>
          <div class="col-sm-3 text-center">Uploaded At</div>
          <div class="col-sm-3 text-center">Products Count</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">

    <div class="accordion" id="accordionExample">
      <pagination-controls autoHide="true" (pageChange)="p=$event"></pagination-controls>
      <div class="card" *ngFor="let batch of user.batches | paginate:{itemsPerPage:10, currentPage:p}; index as i">
        <div class="card-header" *ngIf="batch.products?.length>0" id="headingOne">
          <div class="row">
            <div class="col-sm-1">
              <a class="btn btn-secondary mx-1" data-toggle="collapse" href="{{ '#collapse' + i }}" role="button"
                 aria-expanded="false" aria-controls="headingOne">
                <i class="far fa-plus-square"></i>
              </a>
            </div>
            <div class="col-sm-2 text-center">{{(p-1)*10 + i + 1}}</div>
            <div class="col-sm-3 text-center">{{ batch.batchNumber }}</div>
            <div class="col-sm-3 text-center">{{ batch.uploadedAt}}</div>
            <div class="col-sm-3 text-center">{{ batch.products?.length }} Products</div>
          </div>
        </div>

        <div id="{{ 'collapse' + i}}" class="collapse" aria-labelledby="headingOne"
             data-parent="#accordionExample">
          <div class="card-body">
            <div class="row bg-dark text-white rounded p-1 mb-1">
              <div class="col-sm-1">
                Id
              </div>
              <div class="col-sm-5">
                Product Name
              </div>
              <div class="col-sm-4">
                Category
              </div>
              <div class="col-sm-2">
                Status
              </div>
            </div>
            <div class="row border p-1 rounded mt-1" *ngFor="let product of batch.products; index as j">
              <div class="col-sm-1">{{j + 1}}</div>
              <div class="col-sm-5">{{ product.name }}</div>
              <div class="col-sm-4">{{ (product.category) ? product.category.name : 'NA'}}</div>
              <div class="col-sm-2">{{ product.statusText}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card" *ngIf="apiLoaded && user.batches.length == 0">
      <div class="card-body">
        Batch list is empty. Please add one.
      </div>
    </div>

  </div>
</div>
