<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

  <h1 class="h2">{{pageTitle}}</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <button [routerLink]="['/' + (pageTitle|lowercase) + '/add']" [queryParams]="{page:p}" type="button"
              class="btn btn-sm btn-outline-secondary">Add New
      </button>
    </div>
  </div>
</div>


<div class="container-fluid">
  <pagination-controls (pageChange)="p=$event" autoHide="true"></pagination-controls>
  <table class="table table-hover table-striped" *ngIf="apiLoaded && pageList.length>0">
    <thead class="thead-dark">
    <tr>
      <th style="width:5%">Id</th>
      <th>Tutorial Title</th>
      <th class="text-center">Sort Order</th>
      <th class="text-center" style="width: 180px;min-width: 180px">Action</th>
    </tr>
    </thead>
    <tbody *ngFor="let page of pageList | paginate: { itemsPerPage: 10, currentPage: p } , index as i">
    <tr>
      <td>{{ (p - 1) * 10 + i + 1}}</td>
      <td
        style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">{{page.title | titlecase }}</td>
      <td class="text-center">{{ page.sortOrder }}</td>
      <td style="min-width:150px;width:150px">
        <button mwlConfirmationPopover
                [popoverTitle]="popoverTitle"
                [popoverMessage]="popoverMessage"
                placement="left"
                title="Delete"
                (confirm)="delete(page.id)"
                class="btn btn-danger float-right mx-1">
          <i class="fas fa-trash-alt"></i>
        </button>
        <button [routerLink]="['/' + (pageTitle|lowercase) + '/edit/' + page.id]" [queryParams]="{page:p}" title="Edit"
                class="btn float-right btn-info mx-1">
          <i class="fas fa-pencil-square-o"></i>
        </button>
        <button [routerLink]="['/' + (pageTitle|lowercase) + '/' + page.id]" [queryParams]="{page:p}" title="View"
                class="btn float-right btn-primary mx-1">
          <i class="fas fa-eye"></i>
        </button>
      </td>
    </tr>

    </tbody>
  </table>

  <div class="card" *ngIf="apiLoaded && pageList.length == 0">
    <div class="card-body">
      {{pageTitle}} list is empty. Please add one.
    </div>
  </div>

</div>
