<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

  <h1 class="h2">FAQ Detail</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <button *ngIf="whichView==1" [routerLink]="['/faqs']" [queryParams]="{page:p}" type="button" class="btn btn-sm btn-outline-secondary">Back</button>
      <button *ngIf="whichView>1" [routerLink]="['/app-users','faqs', userId]" [queryParams]="{page:p}" type="button" class="btn btn-sm btn-outline-secondary">Back</button>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-12 mx-auto">
    <div class="container-fluid p-2 mb-1">
      <b>Categories</b>
      <br>
      <span class="badge badge-info m-1" style="font-size: 15px" *ngFor="let item of faq.faqTypes">
        {{item.name}} &nbsp;
      </span>
    </div>

    <hr>

<!--    <div class="container p-2 mb-1">-->
<!--      <b>Sort Order</b>-->
<!--      <p>{{ faq?.sortOrder }}</p>-->
<!--    </div>-->

    <div class="container-fluid p-2 mb-1">
      <b>Question</b>
      <p>{{ faq?.question }}</p>
    </div>

    <hr>

    <div class="container-fluid p-2 mb-1">
      <b>Answer</b>
      <br>
      <br>
      <div class="card-body">
        <markdown [data]="faq.answer"></markdown>
      </div>
    </div>
    <!--      <div class="container">-->
    <!--        <div class="row">-->
    <!--          &lt;!&ndash; <h6 class="card-header" style="padding:8px 20px">Images</h6> &ndash;&gt;-->
    <!--          <div class="images d-flex" *ngIf="faq?.images" style="flex-wrap: wrap;justify-content: space-evenly">-->
    <!--              <img src="{{image.imageUrl}}" class="img-thumbnail mb-1" style="max-width:200px;max-height: 200px" *ngFor="let image of faq.images"/>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--      </div>-->
  </div>
</div>
