<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

  <h1 class="h2">Edit FAQ</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <button [routerLink]="['/faqs']" [queryParams]="{page:p}" type="button" class="btn btn-sm btn-outline-secondary">Back</button>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-12 mx-auto">
    <div class="row">
      <div class="form-group col-sm-6">
        <input type="text" class="form-control" [(ngModel)]="model.question" placeholder="Enter Question"/>
      </div>
      <ng-multiselect-dropdown class="col-sm-6" [placeholder]="'Select Category'" [data]="categoryList"
                               [(ngModel)]="model.faqTypes" [settings]="multipleDropDownSettings">
      </ng-multiselect-dropdown>
<!--      <div class="col-sm-2">-->
<!--        <input type="number" class="form-control" placeholder="Sort Order" [(ngModel)]="model.sortOrder" (keydown)="restService.handleSortOrderInput($event)" />-->
<!--      </div>-->
    </div>
    <div class="row mb-2">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-header">
            Markdown
          </div>
          <textarea class="form-control" style="height:500px;resize:none" placeholder="Enter Answer Here"
                    [(ngModel)]="model.answer"></textarea>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-header">
            Answer Preview
          </div>
          <div class="card-body" style="height:500px;overflow-y:scroll;overflow-x: hidden">
            <markdown [data]="model.answer"></markdown>
          </div>
        </div>
      </div>
    </div>

    <button class="btn btn-primary mb-3" (click)="submit()">Submit</button>
  </div>
</div>
