.enter-btn {
  font-size: 18px;
  cursor: pointer;
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}
.enter-btn:hover {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
}
