<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

  <h1 class="h2">FAQ Categories</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <button [routerLink]="['/faqs']" [queryParams]="{page:p}" type="button" class="btn btn-sm btn-outline-secondary">Back</button>
    </div>
  </div>
</div>


<div class="container-fluid" style="font-size: 18px">
  <div class="row">
    <div class="col-sm-8 mx-auto">
      <div class="row" style="margin-bottom: 80px" *ngIf="!isEditMode">
        <div class="col-sm-7">
          <input [(ngModel)]="model.name" class="form-control p-2" style="font-size: 18px"
                 placeholder="Enter Category Name"/>
        </div>
        <div class="col-sm-3">
          <input type="number" class="form-control" placeholder="Sort Order" [(ngModel)]="model.sortOrder"/>
        </div>
        <div class="col-sm-1">
          <button class="btn btn-success px-3" title="Add" (click)="addCategory()">ADD</button>
        </div>
      </div>


      <div class="row" style="margin-bottom: 80px" *ngIf="isEditMode">
        <div class="col-sm-7">
          <input [(ngModel)]="model.name" class="form-control p-2" style="font-size: 18px"
                 placeholder="Enter Category Name"/>
        </div>
        <div class="col-sm-3">
          <input type="number" class="form-control" placeholder="Sort Order"
                 [(ngModel)]="model.sortOrder" (keydown)="restService.handleSortOrderInput($event)"/>
        </div>
        <div class="col-sm-1">
          <button class="btn btn-success px-3" title="Add" (click)="editCategory()">CHANGE</button>
        </div>
      </div>

      <div class="row position-relative mb-2 border rounded p-2 " *ngFor="let category of categories">
        <div class="col-sm-7">
          {{ category.name }}
        </div>
        <div class="col-sm-3">
          {{ category.sortOrder }}
        </div>
        <div class="col-sm-2" style="padding-bottom : 38px">
          <div class="right position-absolute rounded font-weight-bold" style="right:5px;">
            <button class="btn btn-info mx-1" title="Edit Category" (click)="toEditMode(category.id)"><i
              class="fa fa-pencil-square-o" aria-hidden="true"></i></button>

            <button mwlConfirmationPopover
                    [popoverTitle]="popoverTitle"
                    [popoverMessage]="popoverMessage"
                    placement="left"
                    title="Delete Category"
                    (confirm)="deleteCategory(category.id)"
                    class="btn btn-danger mx-1"><i class="fas fa-trash-alt" aria-hidden="true"></i></button>
          </div>
        </div>
      </div>

      <div class="card" *ngIf="apiLoaded && categories.length == 0">
        <div class="card-body">
          No FAQ Category Available. Please add one.
        </div>
      </div>
    </div>
  </div>
</div>
