<div class="container-fluid authentication-screen">
  <div class="py-5 text-center">

  </div>
  <div class="authentication-container">
    <div class="authentication-wrapper">
      <div class="row authentication-wrapper-row align-items-center  justify-content-center">
        <div class="col-md-4">
          <div class="auth-header text-center">
            <img class="img-fluid" src="../../assets/images/logo_icon.png">
            <br>
            <br>
          </div>
          <div class="auth-body">
            <form action="" #loginForm="ngForm" autocomplete="off" (ngSubmit)="submitLoginForm()">
              <div class="form-group">
                <label for="signup-email">Email</label>
                <input type="email" id="signup-email" class="form-control" placeholder="you@symbtechnologies.com" #email="ngModel" name="email" required [(ngModel)]="model.email" id="email">
                <div [hidden]="email.valid || email.pristine" class="form-validation-error">
                  Email is required
                </div>
              </div>
              <div class="form-group">
                <label for="signup-password">Password</label>
                <input type="password" id="signup-password" class="form-control" placeholder="" #password="ngModel" name="password" required [(ngModel)]="model.password" id="password">
                <div [hidden]="password.valid || password.pristine" class="form-validation-error">
                  Password is required
                </div>
              </div>
              <div class="form-group">
                <button class="btn btn-block btn-outline-light" type="submit" [disabled]="!loginForm.form.valid">Log In</button>
              </div>
            </form>
            <div class="text-center">
              <!-- <small>Forgot password? <a [routerLink]="['/password/forgot']" class="">Reset it</a></small> -->
            </div>
            <!--<hr>
            <div class="text-center">
              Don't have an account? <a [routerLink]="['/signup']"  class="btn btn-outline-primary btn-sm">Sign Up</a>
            </div>-->
          </div>
        </div>
      </div>

    </div>
    <div class="authenticate-hero">

    </div>
  </div>
  <footer class="my-5 pt-5 text-center text-small">
    <hr>
    <p class="mb-1">&copy; 2014-{{thisYear}} SYMB Technologies</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Privacy</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Support</a></li>
    </ul>
  </footer>
</div>
