.authentication-screen{
  height: 100vh;
  background-image: url('../../../assets/images/home_bg.png');
  color: white;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  /* background-position-x: left; */
  //background-color: #7046fe;
  a{
    color: white;
  }
  a:hover{
    color: white;
  }
}


footer{
  bottom : 0;
  position: fixed;
  width : 100%;
  @media screen and (max-height: 700px){
    position: static;
  }
}
