<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

  <h1 class="h2">Product Categories</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
    </div>
  </div>
</div>


<div class="container-fluid px-0" style="font-size: 18px">
  <div class="row mx-0 px-0">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-3 mb-3 mx-0 pl-0">
      <div class="card">
        <div class="card-header">
          ADD CATEGORY
        </div>
        <div class="card-body">
          <div class="row">
            <input class="form-control m-1" placeholder="Enter Category Name" [(ngModel)]="model.name"/>
          </div>
          <div class="row">
            <input class="form-control m-1" placeholder="Enter Category Description" [(ngModel)]="model.description">
          </div>

          <div class="row">
            <div class="input-group">
              <div class="input-group-prepend m-1" style="margin-right: 0 !important;">
                <div class="input-group-text">USD</div>
              </div>
              <input type="number" class="form-control m-1 border-left-0" style="margin-left: 0 !important;"
                     placeholder="Enter Category Cost" [(ngModel)]="model.categoryCost"/>
            </div>
          </div>
          <div class="row">
            <div class="input-group">
              <div class="input-group-prepend m-1" style="margin-right: 0 !important;">
                <div class="input-group-text">USD</div>
              </div>
              <input type="number" class="form-control m-1 border-left-0" placeholder="Enter Per Variant Cost" style="margin-left:0 !important;" [(ngModel)]="model.perVariantCost"/>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-success mx-auto" (click)="addCategory()">Submit</button>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-9 mr-0 px-0">
      <div *ngIf="categories.length>0">

        <pagination-controls autoHide="true" (pageChange)="p=$event"></pagination-controls>
        <table class="table table-hover table-striped" style="width: 100%;font-size:1rem">
          <thead class="thead-dark">
          <tr>
            <th style="width:3%;max-width: 5%">Id</th>
            <th  style="width:200px;max-width: 250px">Name</th>
            <th>Description</th>
            <th class="text-center" style="min-width:100px">Category Cost</th>
            <th class="text-center" style="min-width:100px">Variant Cost</th>
            <th class="text-center" style="width:150px;min-width: 150px">Action</th>
          </tr>
          </thead>
          <tbody *ngFor="let cat of categories | paginate:{itemsPerPage:10,currentPage:p}, index as i">
          <tr>
            <td style="width:3%;max-width: 5%">{{ (p-1)*10 + i +1}}</td>
            <td style="width:200px;max-width: 250px;overflow:hidden;white-space: nowrap;text-overflow: ellipsis">{{cat.name | titlecase}}</td>
            <td > {{cat.description?.length>0 ? cat.description : 'NA'}}</td>
            <td class="text-center" style="min-width:100px"> $ {{cat.categoryCost}}</td>
            <td class="text-center" style="min-width:100px"> $ {{cat.perVariantCost}}</td>
            <td class="text-center" style="width:150px;min-width: 150px">
              <button class="btn btn-primary" title="View" [routerLink]="['/product/categories/view/' + cat.id]" [queryParams]="{page:p}">
                <i class="fa fa-eye" aria-hidden="true"></i>
              </button>
              &nbsp;
              <button class="btn btn-info" title="Edit" [routerLink]="['/product/categories/edit/' + cat.id]" [queryParams]="{page:p}">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
              </button>
              &nbsp;
              <button mwlConfirmationPopover
                      [popoverTitle]="popoverTitle"
                      [popoverMessage]="popoverMessage"
                      placement="left"
                      title="Delete"
                      (confirm)="deleteCategory(cat.id)"
                      class="btn btn-danger"><i class="fas fa-trash-alt" aria-hidden="true"></i></button>
            </td>
          </tr>

          </tbody>
        </table>

      </div>

      <div class="card" *ngIf="apiLoaded && categories.length == 0">
        <div class="card-body">
          Product category list is empty. Please add one.
        </div>
      </div>
    </div>
  </div>
</div>
