$fa-font-path: "../node_modules/font-awesome/fonts";
@import "../node_modules/font-awesome/scss/font-awesome.scss";
/* You can add global styles to this file, and also import other style files */
.cursor-pointer{
  cursor: pointer;
}

.html-content-box {
  border: 1px solid #eee;
  padding:1em;
}

.ngx-pagination {
  background: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  width: fit-content;
  padding: 5px 10px;
  border-radius: 6px;

  li {
    margin: 2px;
    color: #333;
    border-radius: 2px;

    &:hover a {
      background: lightgrey;
      text-decoration: none;
      color: #333;
      border-radius: 2px;
    }

    &.current {
      background: #5dcfe3;
      border-radius: 2px;
    }
  }
}


timepicker{
  .bs-timepicker-field {
    width: 60px !important;
  }
  button.btn{
    background: #eee;
  }

}
